<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<h1>I am Andy Woz, it is my pleasure to learn Ruby On Rails XD</h1>
<p>Here is my repls:</p>
<ul>
 <p>Music Apps:</p>
 <li><a  href="https://audio.andyp4245.repl.co">Audio Library</a>
 <li><a href="https://audio-hole.andyp4245.repl.co">Audio Hole</a></li>
 <li><a href="https://geeker.w3spaces.com">Vortex</a></li>
 <p>Games:</p>
  <li><a href='https://snake-game.andyp4245.repl.co'>Snake Game</a></li>
  <li><a href="https://pong-game.andyp4245.repl.co">Pong Game</a></li>
</ul>
<%= link_to "Home", root_path %>