<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!--<iframe src="https://geeker.w3spaces.com" style="height:100%;width:100%;position:absolute;"></iframe>-->
<!--<a href='/about'>Avout Me</a>-->
<%= link_to "About Me", about_path %>